body {
    background-color: #2A6EB9;
}

h1 {
    color: #AD2032;
    text-align: center;
    text-shadow: 3px 3px 4px black;
}

.wrapper {
    width: 90%;
    margin: auto;
    background-color: white;
}

#map-image-section {
  
    margin: auto;
    text-align: center;
    border: #2A6EB9;
    border-width : 2px;
    border-style: solid;
}