body {
    background-color: #2A6EB9;    
}

h1 {
    color: #AD2032;
    text-align: center;
    text-shadow: 3px 3px 4px black;
}

.wrapper {
    width: 800px;
    margin: auto;
    background-color: rgb(202, 196, 196);
}

#map-image-section {
  
    margin: auto;
    text-align: center;
    border: #2A6EB9;
    border-width : 2px;
    border-style: solid;
}

#buttons-section {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}